In [ ]:
class Employee:
  "Common base class for all employees"
  empCount = 0
  def __init__(self, name, salary):
    self.name = name
    self.salary = salary
    Employee.empCount += 1

  def display_count(self):
    print("Total Employee %d" % Employee.empCount)

  def display_employee(self):
    print("Name : ", self.name, "salary : ", self.salary)

In [ ]:
class Manager(Employee):
  manCount = 0
  def __init__(self, name, salary, teamsize = 0):
    super().__init__(name, salary)
    self.teamsize = teamsize

  def display_teamsize(self):
    print("Team Size %d" % self.teamsize)

In [ ]:
emp1 = Employee("Johny", 16000)
emp2 = Employee("Shafi", 7000)

emp1.display_employee()
emp2.display_employee()
print("Total Employee %d" % Employee.empCount)

Name :  Johny salary :  16000
Name :  Shafi salary :  7000
Total Employee 2

In [ ]:
import statistics
x = [1,6,1,1,3,8,1,9,1,2,9,9,1]
a = statistics.mean(x)
b = statistics.median(x)
c = statistics.mode(x)
d = statistics.stdev(x)
print(a,b,c,d)

4 2 1 3.582364210034113

In [ ]:
#module os
import os
print("Number of cores in processor - ", os.cpu_count())
x = os.getcwd()
print(x)
y = os.path.isdir("mycodes")
print(y)
os.mkdir("mycodes")
z = os.path.isdir("mycodes")
print(z)
t = os.path.getctime("mycodes")
print(t)

Number of cores in processor -  2
/content
False
True
1649750869.9345765

In [ ]:
#module time
import time
local_time = time.ctime()
print("Local time : ", local_time)
print("This is printed immediately.")
time.sleep(2.4)
print("This is printed after 2.4 seconds.")

Local time :  Tue Apr 12 08:07:57 2022
This is printed immediately.
This is printed after 2.4 seconds.

In [ ]:
#module math
import math
print(math.pi)
a = 2.3
print("The ceil of 2.3 is : ", end = " ")
print(math.ceil(a))
print("The floor of 2.3 is : ", end = " ")
print(math.floor(a))

a = 5
print("The factorial of 5 is : ", end = " ")
print(math.factorial(a))

3.141592653589793
The ceil of 2.3 is :  3
The floor of 2.3 is :  2
The factorial of 5 is :  120

In [ ]:
#FGD
#creating a class
class person:
  pass
print(person)

#create an object by calling the class
p = person()
print(p)

#creating class and object in python
class student:
  """this is student class with data"""
  def learn(self):
    print("welcome to Dr. Milaan Parmar's class on python programming")
stud = student()
stud.learn()

<class '__main__.person'>
<__main__.person object at 0x7f0ca9cf49d0>
welcome to Dr. Milaan Parmar's class on python programming

In [ ]:
class person:
  def __init__(self, name):
    self.name = name
p = person('Milaan')
print(p.name)
print(p)

#add more parameters to the constructor function
class person:
  def __init__(self, firstname, lastname, age, country, city):
    self.firstname = firstname
    self.lastname = lastname
    self.age = age
    self.country = country
    self.city = city
p = person('Milaan', 'Parman', 96, 'England', 'London')
print(p.firstname)
print(p.lastname)
print(p.age)
print(p.country)
print(p.city)

Milaan
<__main__.person object at 0x7f0ca9c91890>
Milaan
Parman
96
England
London

In [ ]:
#creating class and object in python
class student:
  def __init__(self, name, percentage):
    self.name = name
    self.percentage = percentage
  def show(self):
    print("Name is : ", self.name, "and percentage is : ", self.percentage)
stud = student("Arthur", 90)
stud.show()

Name is :  Arthur and percentage is :  90

In [ ]:
#creating class and object in python
class parrot:
  species = "bird"
  def __init__(self, name, age):
    self.name = name
    self.age = age

#instantiate the parrot class
blu = parrot("blu", 10)
woo = parrot("woo", 15)

#access the class attributes
print("blu is a {}".format(blu.__class__.species))
print("woo is also a {}".format(woo.__class__.species))

#access the instance attributes
print("{} is {} years old".format(blu.name, blu.age))
print("{} is {} years old".format(woo.name, woo.age))

blu is a bird
woo is also a bird
blu is 10 years old
woo is 15 years old

In [ ]:
class person:
  def __init__(self, firstname, lastname, age, country, city):
    self.firstname = firstname
    self.lastname = lastname
    self.age = age
    self.country = country
    self.city = city
  def person_info(self):
    return f'{self.firstname} {self.lastname} is {self.age} years old. He lives in {self.city}, {self.country}'
p = person('Milaan', 'Parmar', 96, 'England', 'London')
print(p.person_info())

Milaan Parmar is 96 years old. He lives in London, England

In [ ]:
#creating object methods in python
class parrot:

  #instance attributes
  def __init__(self, name, age):
    self.name = name
    self.age = age

  #instance method
  def sing(self, song):
    return "{} sings {}".format(self.name, song)

  def dance(self):
    return "{} is now dancing".format(self.name)

#instantiate the object
blu = parrot("blu", 10)

#call our instance methods
print(blu.sing("'happy'"))
print(blu.dance())

blu sings 'happy'
blu is now dancing

In [ ]:
class person:
  def __init__(self, firstname = 'Milaan', lastname = 'Parmar', age = 96, country = 'England', city = 'London'):
    self.firstname = firstname
    self.lastname = lastname
    self.age = age
    self.country = country
    self.city = city

  def person_info(self):
    return f'{self.firstname} {self.lastname} is {self.age} years old. He lives in {self.city}, {self.country}.'
p1 = person()
print(p1.person_info())
p2 = person('Ben', 'Doe', 30, 'Finland', 'Tampere')
print(p2.person_info())

Milaan Parmar is 96 years old. He lives in London, England.
Ben Doe is 30 years old. He lives in Tampere, Finland.

In [ ]:
class person:
  def __init__(self, firstname = 'Milaan', lastname = 'Parmar', age = 96, country = 'England', city = 'London'):
    self.firstname = firstname
    self.lastname = lastname
    self.age = age
    self.country = country
    self.city = city
    self.skills = []
  def person_info(self):
    return f'{self.firstname} {self.lastname} is {self.age} years old. He lives in {self.city}, {self.country}.'
  def add_skill(self, skill):
    self.skills.append(skill)

p1 = person()
print(p1.person_info())
p1.add_skill('python')
p1.add_skill('matlab')
p1.add_skill('R')
p2 = person('Ben', 'Doe', 30, 'Finland', 'Tampere')
print(p2.person_info())
print(p1.skills)
print(p2.skills)

Milaan Parmar is 96 years old. He lives in London, England.
Ben Doe is 30 years old. He lives in Tampere, Finland.
['python', 'matlab', 'R']
[]

In [ ]:
#use of inheritance in python
class classone:
  def func1(self):
    print('this is parent class')
class classtwo(classone):
  def func2(self):
    print('this is child class')
obj = classtwo()
obj.func1()
obj.func2()

this is parent class
this is child class

In [ ]:
class student(person):
  pass
s1 = student('Arthur', 'Curry', 33, 'England', 'London')
s2 = student('Emily', 'Carter', 28, 'England', 'Manchester')

print(s1.person_info())
s1.add_skill('HTML')
s1.add_skill('CSS')
s1.add_skill('JS')
print(s1.skills)

print(s2.person_info())
s2.add_skill('Organizing')
s2.add_skill('Marketing')
s2.add_skill('Digital Marketing')
print(s2.skills)

Arthur Curry is 33 years old. He lives in London, England.
['HTML', 'CSS', 'JS']
Emily Carter is 28 years old. He lives in Manchester, England.
['Organizing', 'Marketing', 'Digital Marketing']